* {
  margin: 0;
  padding: 0;
  color: rgb(56, 56, 56);
}

p,
h3 {
  margin: 5px;
  white-space: pre-line;
}

h1 {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 1px rgb(213, 212, 212);
  padding: 20px;
}

.profile-nav {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.app {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.text-small {
  font-size: 0.8rem;
}

ul,
.article-container {
  list-style-type: none;
  padding: 10px;
  max-width: 800px;
  display: block;
}

.page {
  display: block;
  text-align: center;
  margin: 20px;
}

.card,
li {
  border: 1px solid rgb(213, 212, 212);
  background-color: white;
  border-radius: 8px;
  margin: 20px;
  padding: 15px;
}

.card-transparent {
  margin: 0 20px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid dodgerblue;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  margin-left: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  margin: 5px;
}

.icon-medium {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.icon-large {
  width: 40px;
  height: 40px;
  margin: 10px;
}

.icon.rotate {
  transform: rotate(180deg);
}

.pill {
  border-radius: 5px;
  padding: 8px;
  margin: 10px;
  display: inline-flex;
  text-transform: capitalize;
  background-color: rgb(234, 231, 231);
  align-items: center;
  border-radius: 20px;
  font-size: 1em;
  text-decoration: none;
}

.pill.filled-pill {
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
}

.pill.selected {
  background-color: rgb(193, 193, 193);
}

.pill:hover {
  background-color: rgb(198, 198, 198);
}

.pill.danger {
  background-color: rgb(243, 32, 19);
  color: white;
}

.no-hover {
  pointer-events: none;
}

button,
.btn {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  display: inline-flex;
}

.btn-round {
  border-radius: 100%;
}

.btn-align-right {
  margin-left: auto;
  margin-right: 0px;
  display: flex;
}

button.selected {
  background-color: rgb(193, 193, 193);
}

button:hover {
  background-color: rgb(198, 198, 198);
}

.btn-primary {
  background-color: seagreen;
  color: white;
}

.btn-neutral {
  background-color: dodgerblue;
  color: white;
}

.link {
  text-decoration: none;
  display: inline-flex;
  padding: 5px;
}

.link:hover {
  background-color: rgb(222, 222, 222);
  border-radius: 20px;
}

.form-area {
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

.section-header {
  display: flex;
  align-items: center;
}

textarea {
  font-size: 1rem;
  padding: 5px;
  height: 80px;
}

.form-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(213, 212, 212);
  border-radius: 8px;
}

*:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
