* {
  margin: 0;
  padding: 0;
  color: rgb(56, 56, 56);
}

.app {
  display: grid;
  justify-content: center;
}

p,
h3 {
  margin: 5px;
}

h1 {
  text-align: center;
  margin: 20px;
}

.date-time {
  font-size: 0.8rem;
}

ul,
.article-container {
  list-style-type: none;
  padding: 10px;
  max-width: 800px;
  display: block;
}

li {
  border: 1px solid rgb(213, 212, 212);
  border-radius: 8px;
  margin: 20px;
  padding: 5px;
}

button {
  border: solid white;
  cursor: pointer;
  padding: 5px;
  border-radius: 100%;
}

.green {
  border: solid rgba(0, 128, 0, 0.7);
}

.red {
  border: solid rgba(255, 0, 0, 0.7);
}

.link {
  text-decoration: none;
}

.card-footer {
  display: flex;
}

header > section,
footer > section {
  display: flex;
  margin: 5px;
  align-items: center;
}

.profile-icon {
  width: 40px;
  height: 40px;
  opacity: 0.5;
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.pill {
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  text-transform: capitalize;
}
