* {
  margin: 0;
  padding: 0;
  color: rgb(56, 56, 56);
}

.app {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.header {
  display: flex;
  align-items: center;
}

.profile-nav {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

p,
h3 {
  margin: 5px;
}

h1 {
  text-align: center;
  margin: 20px;
}

.date-time {
  font-size: 0.8rem;
}

ul,
.article-container {
  list-style-type: none;
  padding: 10px;
  max-width: 800px;
  display: block;
}

.profile {
  display: block;
  text-align: center;
  margin: 20px;
}

li {
  border: 1px solid rgb(213, 212, 212);
  border-radius: 8px;
  margin: 20px;
  padding: 5px;
}

button {
  border: solid white;
  cursor: pointer;
  padding: 5px;
  border-radius: 100%;
}

.cancel-button {
  cursor: pointer;
  padding: 5px;
}

.green {
  background: rgba(0, 128, 0, 0.3);
}

.red {
  background: rgba(255, 0, 0, 0.3);
}

.link {
  text-decoration: none;
}

.card-footer {
  display: flex;
}

header > section,
footer > section {
  display: flex;
  margin: 5px;
  align-items: center;
}

.profile-icon {
  width: 40px;
  height: 40px;
  opacity: 0.5;
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  margin: 5px;
}

.pill {
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  text-transform: capitalize;
}

form {
  display: flex;
  max-width: 750px;
  align-items: flex-end;
}

.form-button {
  background-color: seagreen;
  color: white;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 1rem;
}

textarea {
  font-size: 1rem;
  margin: 5px;
  padding: 5px;
  width: 100%;
  height: 100px;
  display: block;
}

.input-area {
  display: block;
  flex-grow: 4;
  margin: 20px;
}

.form-buttons {
  margin: 20px;
}

*:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
