* {
  margin: 0;
  padding: 0;
  color: rgb(56, 56, 56);
}

body {
  background-color: rgb(255, 255, 255);
}

.app {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 1px rgb(213, 212, 212);
}

.profile-nav {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sort-pill {
  display: flex;
  align-items: center;
}

.delete {
  display: flex;
  align-items: center;
  margin-left: auto;
}

p,
h3 {
  margin: 5px;
  white-space: pre-line;
}

h1 {
  text-align: center;
  margin: 20px;
}

.date-time {
  font-size: 0.8rem;
}

ul,
.article-container {
  list-style-type: none;
  padding: 10px;
  max-width: 800px;
  display: block;
}

.page {
  display: block;
  text-align: center;
  margin: 20px;
}

.card,
.topic-nav,
.sort-nav,
li {
  border: 1px solid rgb(213, 212, 212);
  background-color: white;
  border-radius: 8px;
  margin: 20px;
  padding: 15px;
}

.topic-nav {
  align-items: center;
  display: flex;
}

#hidden-background {
  margin: 0 20px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 5px;
  border-radius: 100%;
  border: none;
  margin: 0 auto;
}

button:hover,
.sort:hover,
.topic:hover {
  background-color: rgb(198, 198, 198);
}

.form-header {
  display: flex;
  align-items: center;
}

.cancel-button {
  cursor: pointer;
  padding: 5px;
  margin-left: auto;
  margin-right: 0px;
  display: flex;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid dodgerblue;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  margin-left: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.green {
  background: rgba(0, 128, 0, 0.3);
}

.red {
  background: rgba(255, 0, 0, 0.3);
}

.link {
  text-decoration: none;
  display: flex;
}

.card-footer {
  display: flex;
}

header > section,
footer > section {
  display: flex;
  margin: 5px;
  align-items: center;
}

.profile-icon {
  width: 40px;
  height: 40px;
  opacity: 0.5;
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  margin: 5px;
}

.icon.rotate {
  transform: rotate(180deg);
}

.pill,
.topic {
  background-color: dodgerblue;
  color: white;
  border-radius: 5px;
  padding: 8px;
  display: inline-block;
  text-transform: capitalize;
}

.sort {
  border-radius: 20px;
  margin: 10px;
  padding: 8px;
  background-color: rgb(234, 231, 231);
  text-transform: capitalize;
  display: inline-block;
  vertical-align: baseline;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.sort.selected {
  background-color: rgb(193, 193, 193);
}

.sort.danger {
  background-color: rgb(243, 32, 19);
  color: white;
}

.topic,
.sort {
  text-decoration: none;
  margin: 10px;
}

.topic.selected {
  background-color: rgb(104, 178, 252);
  opacity: 1;
}

.comment {
  padding: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

textarea {
  font-size: 1rem;
  padding: 5px;
  height: 80px;
  position: relative;
}

.comment-label {
  display: flex;
}

.form-buttons,
.form-header {
  display: flex;
  align-items: flex-end;
  margin: 5px;
  flex: 1;
}

.comment-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(213, 212, 212);
  border-radius: 8px;
}

.form-button {
  background-color: seagreen;
  color: white;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  text-transform: capitalize;
  font-size: 1rem;
  margin-left: auto;
  margin-right: 0px;
}

.neutral {
  background-color: dodgerblue;
  margin-right: auto;
}

*:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
